
.icon-appv:before { content: '\e800'; } /* '' */
.icon-applications:before { content: '\e801'; } /* '' */
.icon-beacon:before { content: '\e802'; } /* '' */
.icon-cloud:before { content: '\e803'; } /* '' */
.icon-cloudvms:before { content: '\e804'; } /* '' */
.icon-cloudplatform:before { content: '\e805'; } /* '' */
.icon-cloudconnector:before { content: '\e806'; } /* '' */
.icon-deliverycontroller:before { content: '\e808'; } /* '' */
.icon-deliverygroup:before { content: '\e809'; } /* '' */
.icon-deliverynetworks:before { content: '\e80a'; } /* '' */
.icon-desktopplayer:before { content: '\e80b'; } /* '' */
.icon-laptops:before { content: '\e80c'; } /* '' */
.icon-image:before { content: '\e80d'; } /* '' */
.icon-hosts:before { content: '\e80e'; } /* '' */
.icon-hdx3dprodesktop:before { content: '\e80f'; } /* '' */
.icon-hdx:before { content: '\e810'; } /* '' */
.icon-hdd:before { content: '\e811'; } /* '' */
.icon-gpu:before { content: '\e812'; } /* '' */
.icon-cpuram:before { content: '\e813'; } /* '' */
.icon-firewall:before { content: '\e814'; } /* '' */
.icon-driver:before { content: '\e815'; } /* '' */
.icon-director:before { content: '\e816'; } /* '' */
.icon-global:before { content: '\e817'; } /* '' */
.icon-license-server:before { content: '\e818'; } /* '' */
.icon-license:before { content: '\e819'; } /* '' */
.icon-loadbalancer:before { content: '\e81a'; } /* '' */
.icon-netscalergateway:before { content: '\e81b'; } /* '' */
.icon-pc:before { content: '\e81c'; } /* '' */
.icon-personaldesktop:before { content: '\e81d'; } /* '' */
.icon-phone:before { content: '\e81e'; } /* '' */
.icon-policies:before { content: '\e81f'; } /* '' */
.icon-pooleddesktop:before { content: '\e820'; } /* '' */
.icon-provisioning-services:before { content: '\e821'; } /* '' */
.icon-receiver:before { content: '\e822'; } /* '' */
.icon-remotepcaccess:before { content: '\e823'; } /* '' */
.icon-support:before { content: '\e824'; } /* '' */
.icon-ssltunnel:before { content: '\e825'; } /* '' */
.icon-ssd:before { content: '\e826'; } /* '' */
.icon-sql--database:before { content: '\e827'; } /* '' */
.icon-sharefile:before { content: '\e828'; } /* '' */
.icon-sharedlinuxdesktop:before { content: '\e829'; } /* '' */
.icon-shareddesktop:before { content: '\e82a'; } /* '' */
.icon-servers:before { content: '\e82b'; } /* '' */
.icon-securebrowser:before { content: '\e82c'; } /* '' */
.icon-secure:before { content: '\e82d'; } /* '' */
.icon-tablet:before { content: '\e82e'; } /* '' */
.icon-thinclient:before { content: '\e82f'; } /* '' */
.icon-user:before { content: '\e830'; } /* '' */
.icon-vcpu:before { content: '\e831'; } /* '' */
.icon-virtualdeliveryagent:before { content: '\e832'; } /* '' */
.icon-virtualmachine:before { content: '\e833'; } /* '' */
.icon-vmhostedapp:before { content: '\e834'; } /* '' */
.icon-webapp:before { content: '\e835'; } /* '' */
.icon-winapp:before { content: '\e836'; } /* '' */
.icon-zone:before { content: '\e837'; } /* '' */
.icon-active-directory:before { content: '\e838'; } /* '' */
.icon-xenmobile:before { content: '\e839'; } /* '' */
.icon-storefront:before { content: '\e83a'; } /* '' */
.icon-studio:before { content: '\e83b'; } /* '' */
.icon-appdisk:before { content: '\e83c'; } /* '' */
.icon-appdna:before { content: '\e83d'; } /* '' */
.icon-admin:before { content: '\e83e'; } /* '' */